.my-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.menu-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: #DADCE0;
    -fx-border-width: 1;
    -fx-font-size: 14px;
}

.menu-button .menu-item {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.menu-button .menu-item:hover {
    -fx-background-color: #000000;
}
